<div class="blogger-section">
	<div class="pic-writing-wrapper">
		<img src="<%= image_path("writing2.jpg") %>" class="pic-writing" alt="">
	</div>
	
	<div class="blogger-content">

		<h2 class="blogger-title">
			Tech-blogger for Le Wagon Barcelona
		</h2>

		<div class="blogs container">

			<div class="row">

				<% @blogs.each do |blog| %>
					
					<div class="col-xs-12 col-sm-6 col-md-4">
						
						<div class="blog">

							<img src="<%= image_path(blog[:pic]) %> " alt="" class="pic-blog">
							

							<div class="description">
								<div class="title">
									<%= blog[:title] %>
								</div>

								<div class="bottom">
									
								
									<div class="views">
										Views: <%= blog[:views] %>
									</div>
									<div class="descr-footer">
										<div class="date">
											<%= blog[:date] %>
										</div>
										<i class="fas fa-star"></i>
										<div class="time">
											<%= blog[:time] %>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				<% end %>

			</div>

		</div>

		<a href="https://medium.com/@albertmontolio" class="visit-medium" target="_blank">
			<span class="text">
				Visit me on Medium
			</span>
			
		</a>
	</div>
</div>

