<div class="teacher-section">
	<div class="teacher-content">
		<h2 class="teacher-lewagon-title">Coding teacher at an international bootcamp</h2>

		<p class="teacher-description">I learnt Web Development at Le Wagon. I taught in Barcelona and Bali so far. As a teacher, you are responsible for giving the lesson, solving issues and leading the student's final projects.</p>


		<div class="container">
			<div class="row">

				<% @teachers.each do |teacher| %>
					
					<div class="col-xs-12 col-sm-6">


						<div class="city-wrapper">


							<div class="band-wrapper">
								teacher
							</div>

							<div class="city-picture">
								<img src="<%= image_path(teacher[:pic]) %>" alt="">
								<div class="title-wrapper">
		
									<div class="title-wrapper">
										<div class="title">
											<%= teacher[:title] %>
											<span class="highlighted-wrapper">
												<%= teacher[:city] %>
												<span class="highlighted high-green"></span>
											</span>
										</div>
									</div>

								</div>
								
							</div>

							<div class="city-info-wrapper">
								<div class="lessons">
									Lessons: <%= teacher[:lessons] %>
								</div>
								<div class="students">
									Students: <%= teacher[:students] %>
								</div>
								
							</div>

						</div>
					</div>
				<% end %>

				
				
			</div>
		</div>

		<div class="lewagon-curriculum">
			Le Wagon's curricula
		</div>


		<div class="lewagon-skills">
			<div class="skill">Ruby</div>
			<div class="skill">OOP</div>
			<div class="skill">Data Base</div>
			<div class="skill">Active Record</div>
			<div class="skill">HTML & CSS</div>
			<div class="skill">CSS</div>
			<div class="skill">Bootstrap</div>
			<div class="skill">JavaScript</div>
			<div class="skill">Rails</div>
			<div class="skill">Background Jobs</div>
			<div class="skill">APIs</div>
			<div class="skill">Testing</div>
			<div class="skill">Product Design</div>
			<div class="skill">Scrum</div>
			<div class="skill">Product Pitch</div>
		</div>

	</div>
	
</div>

