<div class="home">
	<%= render "shared/banner" %>
	<div class="webpage-wrapper my-hide">
		<%= render "shared/technologies" %>
		<%= render "shared/projects" %>
		<%= render "shared/mobile" %>
		<%= render "shared/blogger" %>
		<%= render "shared/teacher" %>
		<%= render "shared/speaker" %>
		<%= render "shared/contact" %>
		<%= render "shared/footer" %>
	</div>
</div>