<div class="home">
	<%= render "shared/banner" %>
	<%= render "shared/technologies" %>
	<%= render "shared/projects" %>
	<%= render "shared/mobile" %>
	<%= render "shared/blogger" %>
	<%= render "shared/teacher" %>
</div>