<div class="home">
	<%= render "shared/banner" %>
	<!-- <div class="webpage-wrapper my-hide"> -->
	<div class="webpage-wrapper">
		
		<%= render "pages/technologies/technologies" %>
		<%= render "shared/mobile2" %>
		<%= render "get_clients" %>
		<%= render "pages/projects/projects" %>
		<%#= render "shared/mobile" %>
		<%= render "shared/blogger" %>
		<%= render "shared/teacher" %>
		<%= render "shared/speaker" %>
		<%= render "shared/contact" %>
		<%= render "shared/footer" %>
		
	</div>
</div>